.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

.course {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.units {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  border-radius: 10px;
}

.chapters {
  border: 1px solid #ccc;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.deleteButton {
  background-color: #fe6464;
}
